<html>

<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <span style="color:white;">Bookers</span>
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <span class="glyphicon glyphicon-home" aria-hidden="true">
                        <%= link_to'Home',user_path(@user.id)%>
                    </span>
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                        <%= link_to'Users',user_path%>
                    </span>
                    <span class="glyphicon glyphicon-book" aria-hidden="true">
                        <%= link_to'Books',books_path%>
                    </span>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                    </span>
                </ul>
            </nav>
        </div>
    </header>
    <div class="body">
        <div class="container">
            <p id="notice"></p>
            <br><br>
            <h2>User info</h2>
            <div class="form-body">
                <%= form_for(@user) do |f| %>
                <div class="field">
                    <label for="user_name">Name</label>
                    <%= f.text_field :name, autofocus: true %>
                </div>
                <div class="field">
                    <label for="user_image">Image</label>
                    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
                </div>
                <div class="field">
                    <label for="user_introdustion">Introduction</label>
                    <%= f.text_field :introduction, autofocus: true%>
                </div>
                <div class="actions">
                    <%= f.submit "Update User",class: 'btn btn-primary col-xs-12'%>
                </div>
                <% end %>
            </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-9">
                    <p>CopyRight Infratop.inc</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>